@font-face {
    font-family: "Prelo Book";
    src: url(../fonts/Prelo-Book.otf);
}

@font-face {
    font-family: "Prelo Exbd";
    src: url(../fonts/Prelo-Exbd.otf);
}

@font-face {
    font-family: "PreloSlab Bold";
    src: url(../fonts/PreloSlab-Bold.otf);
}

@font-face {
    font-family: "PreloSlab Book";
    src: url(../fonts/PreloSlab-Book.otf);
}

@font-face {
    font-family: "PreloSlab Medium";
    src: url(../fonts/PreloSlab-Medium.otf);
}

@font-face {
    font-family: 'MessinaSans Book';
    src: url(../fonts/MessinaSans-Book.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MessinaSans Regular';
    src: url('../fonts/MessinaSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MessinaSans Semibold';
    src: url('../fonts/MessinaSans-SemiBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MessinaSans Light';
    src: url('../fonts/MessinaSerif-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Roboto Slab';
    color: #233559;
    background-color: #FCFAF2;
}

.font-roboto {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;

}
.l-container{

    padding: 70x 0;
}

.title-ba {
    font-weight: 500;
    font-size: 18px;
    font-family: 'MessinaSans Book';
    margin-bottom: 0;
}

.text-blue-ucv {
    color: #233559;
}
#perfil-certificaciones,#razones,#movilidad-academica{
    border-bottom: 1px solid #233559;
}
small {
    font-size: 10px;
    font-weight: normal;
}
#banner {
    background-image: url(assets/img/banner-civil.png);
    background-size: cover;
    background-position: center;
    background-position-y: inherit;
    height: calc(100vh - 110px);
    position: relative;
}
#banner::before {
    content: "";
    background: linear-gradient(0deg, #0E151C -15.14%, rgba(255, 255, 255, 0) 40.43%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
#banner.banner-mobile{
    height:800px;
}
.l-container {
    padding: 60px 0;
}

.text-one {
    font-family: "PreloSlab Medium";
    font-size: 50px;
    line-height: 50px;
}
.title-block{
   position: relative; 
}
.title-block>span{
font-size: 18px;
}
#razones .title-block::before{
    display: block;
    content: ' ';
    background-image: url(../img/icon-razones.svg);
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    left: -75px;
}

#movilidad-academica .title-block::before{
    display: block;
    content: ' ';
    background-image: url(../img/icon-movilidad-academica.svg);
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    left: -75px;
}
.content-box {
    height: 110px;
    width: 85%;
}

.form-control {
    border-radius: 0;
    border: 1px solid #233559;
    height: calc(1.6em + .75rem + 2px)!important;
    color: #233559;
    background-color: #FCFAF2;
    font-family: 'MessinaSans Regular';
    appearance: auto;
}

.form-control:focus {
    border-radius: 0;
    border: 1px solid #233559;
    height: calc(2em + .75rem + 2px);
    color: #233559;
    background-color: #FCFAF2;
}

.title-banner {
    font-family: "PreloSlab Bold";
    color: #e10e17;
    font-size: 70px;
    line-height: 65px;
}

.border-bt {
    border-bottom: 4px solid #e10e17;
}

.title-form {
    font-weight: 700;
    font-family: 'MessinaSans Semibold';
    border-left: 5px solid #233559;
    padding-left: 10px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 23px;
}

.form-group {
    margin-bottom: .5rem;
}
.h-container{
    height: 100%;
    display: flex;
    align-items: center;
}

#form-banner {
    background: #FCFAF2;
    margin-top: 60px;
    opacity: 0.9;
}

.label-poli {
    font-size: 12px;
    vertical-align: text-top;
}

.btn-ucv {
    background: #e10e17;
    border-radius: 13.4609px;
    border: #e10e17;
}

.btn-ucv:hover {
    background: #e10e17;
    border-radius: 13.4609px;
    border: #e10e17;
}

.btn-ucv:active {
    background: #e10e17 !important;
    border-radius: 13.4609px;
    border: #e10e17 !important;
}

.text-red-ucv {
    color: #e10e17;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #233559 !important;
    font-family: 'MessinaSans Regular';
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #233559 !important;
    font-family: 'MessinaSans Regular';
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #233559 !important;
    font-family: 'MessinaSans Regular';
}


.img-box {
    width: 20%;
}

.title-section {
    font-family: "PreloSlab Bold";
}

header {
    border-bottom: 2px solid #233559;
    background-color: #FCFAF2;
    height: 110px;
}


#beneficios {
    color: #243559;
}

.book {
    font-family: "PreloSlab Book";
}

#form-banner .mb-4 {
    margin-bottom: 1.2rem !important;
}

.campo {
    background-color: #FCFAF2;
}

.f-18 {
    font-size: 18px;
}

.title-ba-one {
    font-family: 'MessinaSans Light';
    font-size: 65px;
    line-height: 65px;
}

.box-title-banner {
    position: relative;
   
}

.box-title-banner::before {
    content: "Estudia";
    background-color: #E30613;
    color: white;
    position: absolute;
    top: 45%;
    transform: rotate(270deg);
    left: -87px;
    font-size: 18px;
    font-family: 'MessinaSans Semibold';
    padding: 8px 20px;
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.form-check-label {
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'MessinaSans Book';
    font-weight: 800;
    color: #243559;
}





footer {
    padding: 30px 0;
    color: #243559;
}

.text-blue-ucv {
    color: #243559;
}

.desc-box {
    font-weight: 400;
}

#formu {
padding: 30px;


}

.btn-form {
    font-family: 'MessinaSans Semibold';

    border-color: #233559 !important;
    background: transparent !important;
        padding: 0.5rem 2.5rem;
    color: #243559;
    border-radius: 0;
    border-width: 1px;
}

.btn-form:active,
.btn-form:hover {
    border-color: #233559 !important;
    background: #233559 !important;
    color: white;
}

.img-mobile {
    display: none;
}

.img-mobile-t {
    display: none;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.btn-box {
    float: right;
}

#banner .container {
    height: 100%;
}

.bg-banner {

    display: flex;
    align-items: flex-end;
}



a {
    color: #243559;
    text-decoration: underline;
}

.content-form {
    padding: 30px;
    padding-top: 0px;
}



.descripcion-carrera{
    font-size: 24px;
    line-height: 35px;
}
.tabs-carrera{
    justify-content: center;
}
.tabs-carrera .nav-link{
    padding: 10px 50px;
    color: #E30613;
    border-radius: 0;
    border: 1px solid #E30613;
    
}
.tabs-carrera .nav-item{
    width: 250px;
    text-align: center;
    
}
.tab-content{
    margin-top: 60px;
}
.tabs-carrera .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E30613;
}
.block-left ul,.block-right ul {
    padding-left: 0;
    margin-top: 14px;
}
.block-left ul li, .block-right ul li{
    margin-bottom: 10px;
}
#razones .block-left ul li, #razones .block-right ul li{
    display: flex;


}

#razones ul {
    list-style: none;
    padding-left: 0;
  }
 #razones li:before {
    content:''; 
    display:inline-block; 
    height:1.5em; 
    width:1.5em; 
    background-image:url('../img/icon-check.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
  }

@media (min-width: 1200px) {
     .container {
        max-width: 1100px;
    }
    #banner .container {
        max-width: 1000px;
    }
    .box-title-banner {
    position: relative;
 
}

}


@media (max-width: 1100px) {
    .box-title-banner {
        margin-left: 60px;
        left: 0;
    }
}

@media (max-width: 991px) {
    #form-banner {

        margin-bottom: 40px;
    }

    #banner {
        height: auto!important;
    }

    .mallas {
        display: none;
    }

    .title-ba-one {
        padding-top: 15%;
    }

    .title-ba {
        margin-bottom: 34px;
    }
}

@media (max-width: 767px) {
    .title-block {
        margin-left: 65px;
    }
    .title-ba-one {
        font-size: 55px;
        line-height: 55px;
    }

  

    .img-desk {
        display: none;
    }

    .img-mobile-t {
        display: block;
    }

    .img-mobile {
        display: block;


    }

    .logo-educa {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
    }

}

@media (max-width: 575px) {
    .bg-banner::before {
        content: "";
        background: linear-gradient(0deg, #0E151C -15.14%, rgba(255, 255, 255, 0) 80.43%);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
    #banner::before {
       display: none;
    }
    .title-block {
        font-size: 18px;
    }
    #movilidad-academica h4{
        font-size: 18px;
    }
    #razones .title-block::before {
        display: block;
        content: ' ';
        background-image: url(../img/icon-razones.svg);
        background-size: 50px 50px;
        height: 50px;
        width: 50px;
        position: absolute;
        left: -60px;
    }
    #movilidad-academica .title-block::before {
        display: block;
        content: ' ';
        background-image: url(../img/icon-movilidad-academica.svg);
        background-size: 50px 50px;
        height: 50px;
        width: 50px;
        position: absolute;
        left: -60px;
    }
  
    .title-block>span {
        font-size: 15px;
    }
    .block-right{
        margin-top: 30px;
    }
    .block-left ul, .block-right ul {
        padding-left: 2rem;
   
    }
    .descripcion-carrera {
        font-size: 18px;
        line-height: 29px;
    }
    .title-ba {
        max-width: 320px;
    }

  
    #form-banner {

        margin-bottom: 0px;
        opacity: 1;
    }

    #form-banner {
        margin-top: 0;
    }

    #formu {

        margin-top: 0px;
    }

    header {
        height: auto;
    }

    .box-title-banner {
        position: absolute;
        bottom: 11%;
    }

   

    .title-ba-one {
        font-size: 45px;
        line-height: 45px;
    }

    
    .img-desk-t {
        display: none;
    }






    .btn-form {
        margin: 0 auto;
        display: block;
    }

    .l-container {
        padding: 30px 0;
    }

    .no-p {
        padding-left: 0;
        padding-right: 0;
    }

    #formu {
        padding-bottom: 0px;
    }

    #banner {
        border-bottom: 0px solid #e10e17;

    }

    .title-section {
        font-family: "PreloSlab Bold";
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    .title-ba-one {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 350px) {
    .title-ba-one {
        font-size: 35px;
        line-height: 35px;
    }
}